<div class="container">
    <hr/>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5">
            <h3>Main sponsor:</h3>
            <a target="_blank" href="https://prodrive-technologies.com/">
                <img src="/img/sponsors/Prodrive-fullcolor.svg" alt="Prodrive Technologies"/>
            </a>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-6 col-lg-5">
            <h4>Partners:</h4>
            <a target="_blank" href="https://www.flowtraders.com">
                <img src="/img/sponsors/flow-traders.png" alt="Flow Traders"/>
            </a>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-6 col-lg-5">
            <div class="empty-head"></div>
            <a target="_blank" href="https://www.tue.nl/en/">
                <img src="/img/sponsors/TUe-fullcolor.svg" alt="Eindhoven University of Technology"/>
            </a>
        </div>
        <div class="offset-lg-3 spacing-lg">&nbsp;</div>
        <div class="col-4 col-lg-2">&nbsp;</div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-6 col-lg-2">
            <h5>Partners:</h5>
            <a target="_blank" href="https://ortec.com">
                <img src="/img/sponsors/ORTEC.png" alt="ortec"/>
            </a>
        </div>
        <div class="offset-lg-3 spacing-lg"></div>
        <div class="col-6 col-lg-2">
            <br />
            <a target="_blank" href="https://www.asml.com/">
                <img src="/img/sponsors/ASML-fullcolor.svg" alt="ASML"/>
            </a>
        </div>
    </div>
    <hr/>
</div>